* {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f7fa;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 15px 50px;
    border-bottom: 1px solid #ddd;
    position: fixed;
    width: 100%;
}

.header-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 100px;
}

.brand-logo img {
    height: 20px;
}

.navigation {
    padding: 10px;
}

.navigation-bar {
    display: flex;
    list-style-type: none;
}

.menu-item {
    padding: 0 30px;
    font-weight: 700;
    position: relative;
}

.menu-item:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.submenu li {
    padding: 10px 20px;
}

.submenu li:hover {
    background-color: #f0f0f0;
}

.app-download, .sign-in {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    cursor: pointer;
}

.app-download {
    color: #002970;
    padding-right: 20px;
}

.app-download img, .sign-in img {
    height: 20px;
}

.user-profile {
    padding: 3px 30px 3px 3px;
    min-width: 105px;
    max-width: 150px;
    background-color: #002970;
    border-radius: 28px;
    align-items: center;
    color: #fff;
    display: flex;
    font-weight: 700;
    justify-content: flex-start;
    font-size: 18px;
}

.user-profile img {
    height: 45px;
    width: 45px;
    margin-right: 10px;
    border-radius: 50%;
}

.user-profile span {
    font-size: 18px;
    color: #fff;
    font-weight: 700;
}

footer {
    background: #002970;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    position: relative;
    top: 200px;
}
