* {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f7fa;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 15px 50px;
    border-bottom: 1px solid #ddd;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.header-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 100px;
}

.brand-logo img {
    height: 20px;
}

.navigation {
    padding: 10px;
}

.navigation-bar {
    display: flex;
    list-style-type: none;
}

.menu-item {
    padding: 0 30px;
    font-weight: 700;
    position: relative;
}

.menu-item:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    list-style-type: none;
    z-index: 1000;
}

.submenu li {
    padding: 20px 30px;
}

.submenu li:hover {
    background-color: #f0f0f0;
}

.app-download, .sign-in {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    font-size: large;
    cursor: pointer;
}

.app-download {
    color: #002970;
    padding-right: 20px;
}

.app-download img, .sign-in img {
    height: 20px;
}

.user-profile {
    padding: 3px 30px 3px 3px;
    min-width: 105px;
    max-width: 150px;
    background-color: #002970;
    border-radius: 28px;
    align-items: center;
    color: #fff;
    display: flex;
    font-weight: 700;
    justify-content: flex-start;
    font-size: 18px;
}

.user-profile img {
    height: 45px;
    width: 45px;
    margin-right: 10px;
    border-radius: 50%;
}

.user-profile span {
    font-size: 18px;
    color: #fff;
    font-weight: 700;
}

main {
    position: relative;
    z-index: 1;
    top: 82px;
    display: block;
}

.image-icon {
    display: flex;
    background-color: #e8f8fd;
}

.icon-image {
    display: flex;
    padding: 20px;
    align-items: center;
}

.icon-image > a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    margin-right: 30px;
    margin-left: 100px;
    flex-direction: row;
}

.arrow-icon {
    width: 30px;
    margin-right: 10px;
}

.arrow-span {
    font-size: 16px;
    cursor: pointer;
    font-size: large;
}

.travel-logo {
    display: flex;
    width: 170px;
    position: relative;
    left: 50%;
}

.journey-details {
    display: flex;
    flex-direction: row;
}

.flight-info {
    padding-right: 25px;
    border-right: 1px solid #cacaca;
}

.flight-location {
    display: inline-block;
    padding-right: 110px;
    margin-right: 20px;
    font-size: large;
    font-weight: 500;
    padding-top: 20px;
}

.flight-route {
    width: 30px;
}

.location-text {
    display: flex;
    font-size: 16px;
    color: hsla(0, 0%, 6%, .54);
    font-weight: 400;
    line-height: 20px;
    font-size: large;
}

.location-code {
    font-size: 20px;
    color: #101010;
    font-weight: 600;
    line-height: 35px;
}

.date-details {
    display: flex;
}

.date-info {
    display: inline-block;
    padding: 18px 45px 0px 25px;
    border-right: 1px solid #cacaca;
}

.date-text {
    display: flex;
    font-size: 16px;
    color: hsla(0, 0%, 6%, .54);
    font-weight: 400;
    line-height: 20px;
}

.date-value {
    font-size: 20px;
    color: #101010;
    font-weight: 600;
    line-height: 35px;
    font-size: large;
}

.return-info {
    display: inline-block;
    padding: 18px 55px 0px 25px;
    border-right: 1px solid #cacaca;
}

.return-text {
    display: flex;
    font-size: 16px;
    color: hsla(0, 0%, 6%, .54);
    font-weight: 400;
    line-height: 20px;
}

.add-return-text {
    font-size: 20px;
    color: #00BCF1;
    font-weight: 600;
    line-height: 35px;
}

.traveller-info {
    display: inline-block;
    padding: 18px 55px 0px 25px;
    font-size: 16px;
    color: hsla(0, 0%, 6%, .54);
    font-weight: 400;
    line-height: 20px;
}

.traveller-summary {
    font-size: 20px;
    color: #101010;
    font-weight: 600;
    line-height: 35px;
}

.travel-image {
    width: 30px;
    text-align: center;
    mix-blend-mode: multiply;
    border-radius: 50%;
    background-color: #fff;
    color: #fff;
    position: relative;
    top: 8px;
}

.search-button>.ripple-button {
    background-color: #00baf2;
    text-decoration: none;
    border: none;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17.2px;
    color: #fff;
    height: 70px;
    width: 180px;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    top: 12px;
}

.ripple-button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.ripple-button:active {
  transform: scale(0.95);
}

.box {
    padding: 20px 0 16px 20px;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    margin: 0px 255px 0px 110px;
    border-radius: 15px;
}

.radio {
    display: flex;
}

.radio-group {
    padding-right: 110px;
    font-weight: 500;
    font-size: large;
}

input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
    position: relative;
    outline: none;
    transition: background-color 0.3s, border-color 0.3s;
}

input[type="radio"]:hover {
    border: 2px solid #00BCF1;
}
input[type="radio"]:checked {
    background-color: #00BCF1;
    border-color: #00BCF1;
}

input[type="radio"]:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

label {
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
    position: relative;
    top: -15%;
}

.optional-fare-item {
    border-top: 1px solid #cacaca;
    margin: 15px 0px;
}

.optional-fare-item {
    display: flex;
    flex-direction: row;
    padding: 20px 0 0 0;
    background-color: #fff;
}

.fare {
    padding-right: 25px;
}

.fare-title {
    display: flex;
    font-size: 16px;
    color: hsla(0, 0%, 6%, .54);
    font-weight: 550;
    line-height: 20px;
    font-size: large;
}

.extra-savings {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.extra-savings>img {
    width: 18px;
    height: 18px;
}

.extra-savings>span {
    margin-left: 5px;
    font-size: 15px;
    color: #27ae60;
    font-weight: 700;
    line-height: 16px;
    font-size: large;
}

.fare-option {
    border: 1px solid hsla(0, 0%, 6%, .13);
    padding: 7px 12px;
    border-radius: 8px;
    margin: 0 8px 0 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
    color: hsla(0, 0%, 6%, .54);
    font-weight: 600;
    line-height: 20px;
    cursor: pointer;
}

.option-title {
    color: black;
}

.banner-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: #e8f8fd;
    padding-top: 50px;
}

.banner-section>img {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.banner-arrow-left {
    transform: rotate(180deg);
}

.banner-image {
    display: flex;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    width: 1000px;
}

.banner-main-image {
    width: 470px;
    height: 150px;
    margin-left: 20px;
    border-radius: 12px;
}

.service-container {
    display: flex;
    width: 90%;
}

.service-card {
    padding: 12px;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    margin: 30px 20px 0px 110px;
    border-radius: 15px;
    width: 100%;
}

.service-card h2 {
    padding-top: 10px;
    padding-left: 10px;
    font-size: 20px;
    color: #000;
    font-weight: 600;

}

.service-items {
    display: flex;
}

.service-item {
    display: flex;
    padding: 25px 0;
    box-sizing: border-box;
    margin-right: 10px;
    text-align: center;
    border-radius: 12px;
    flex: 1 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    word-wrap: break-word;
    font-weight: 500;
    font-size: large;
    
}

.service-item:hover {
    box-shadow: 0 16px 55px 0 rgba(184, 185, 228, 0.4), 1px 1px 0 0 #fff;
    cursor: pointer;
}

.service-items img {
    width: 50px;
    height: 50px;
}

.offer-image{
    width: 100%;
    padding-top: 20px;
}

.second {
    padding-top: 0px;
}

.money-container {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    margin: 0px 255px 0px 110px;
    border-radius: 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    word-wrap: break-word;
    position: relative;
    justify-content: center;
    align-items: center;
    max-width: 83.3%;
    margin-top: 50px;
}

.money-logo {
    max-width: 50%;
    box-sizing: border-box;
}

.logo-img-money {
    height: 50px;
}

.logo-img-money>img {
    max-width: 200px;
    max-height: 75px;
    margin-bottom: 12px;
}

.money-brand-title {
    font-size: 46px;
    font-weight: 700;
    color: black;
    margin: 20px 0;
}

.money-brand-para {
    font-size: 18px;
    color: black;
    line-height: 1.5;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: x-large;
}

.money-brand-img {
    max-width: 50%;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 20px;
}

.money-brand-img>img {
    max-width: 500px;
    height: 100%;
    object-fit: fill;
    width: 100%;
}

.More {
    padding: 13px 10px 20px 20px;
    min-width: 105px;
    max-width: 150px;
    background-color: #002970;
    border-radius: 28px;
    align-items: center;
    color: #fff;
    display: flex;
    font-weight: 700;
    justify-content: flex-start;
    font-size: 18px;
    flex-wrap:nowrap;
    word-wrap:normal;
}

.More span {
    font-size: 18px;
    color: #fff;
    font-weight: 700;
}

#icon_learn {
    font-size: 18px;
    color: #fff;
}


.Learn {
    padding: 220px;
}

.support-container {
    padding: 20px;
    background-color: #002970;
    border: 1px solid #d3d3d3;
    margin: 0px 255px 0px 110px;
    border-radius: 15px;
    width: 100%;
    display: flex;
    position: relative;
    max-width: 83.3%;
    margin-top: 50px;
}

.customer-support {
    display: flex;
    flex-grow: 1;
}

.customer-logo {
    text-decoration: none;
    display: flex;
    flex-grow: 1;
}

.customer-logo>img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.customer-logo>span {
    color: #fff;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 13px 10px 20px 20px;
    flex-grow: 1;
}

.more {
    padding: 15px 20px;
    min-width: 105px;
    max-width: 150px;
    background-color: #002970;
    border: 2px solid #fff;
    border-radius: 28px;
    align-items: center;
    color: #fff;
    display: flex;
    font-weight: 700;
    font-size: 18px;
    justify-content: flex-end;
    white-space: nowrap;
}

.more span {
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    margin-left: 5px;
}

#icon_learn {
    font-size: 18px;
    color: #fff;
}

.card-Insurance {
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    /* border: 1px solid #d3d3d3; */
    margin: 0px 255px 0px 110px;
    border-radius: 15px;
    width: 100%;
    max-width: 83.3%;
    margin-top: 50px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    padding: 50px;
    max-width: 50%;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: space-between;
    border: 1px solid #d3d3d3;
    margin: 0;
    height: 950px;
}

.class {
    background: url(images/cardbg.avif);
    background-position: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-right: 40px;
}

.card-logo img {
    width: 200px;
    height: auto;
    margin: 0 auto 20px;
}

.card-content h2 {
    font-size: 46px;
    font-weight: 700;
    color: black;
    margin: 20px 0;
}

.card-content p {
    font-size: 10px;
    color: black;
    line-height: 1.5;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: larger;
}

.card-content a {
    display: inline-block;
    padding: 10px 20px;
    color: #002970;
    border: 2px solid #002970;
    text-decoration: none;
    border-radius: 28px;
    transition: background-color 0.3s;
    font-weight: 600;
}

.bank-card {
    display: flex;
}

.card-content img {
    width: 550px;
}

.bank-card>.bank {
    width: 300px;
    padding-left: 20px;
}

.credit-card{
    margin-top: 70px;
    margin-left: 40px;
}

.Insurance {
    margin-left: 40px;   
}


.container-two {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 83.5%;
    width: 100%;
    background: #fff;
    border-radius: 20px;
    padding: 130px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #d3d3d3;
    margin: 50px 255px 0px 110px;
}

.logo-box {
    max-width: 50%;
}

.logo img {
    height: 20px;
}

.brand-title {
    font-size: 46px;
    font-weight: 700;
    color: black;
    margin: 20px 0;
}

.brand-para {
    font-size: 18px;
    color: black;
    line-height: 1.5;
    margin-bottom: 20px;
    font-weight: 501;
    font-size: x-large;
}

.app-links {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.app-links img {
    height: 50px;
    cursor: pointer;
}

.style img {
    max-width: 500px;
    height: 100%;
    object-fit: fill;
    width: 100%;
}


footer {
    background: #002970;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    position: relative;
    top: 200px;
}
